<a href="https://colab.research.google.com/github/zuleka061/python-basics/blob/main/datastructure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data types and structure

1. What are data structure and why are they important ?

---> Data structure are ways to organize and store data in a program , so that it can be efficiently accessed , modified and manipulated.
its is important in problem solving , scalability and writing effiecent program.

2. Explain the difference between mutable and immutable data types with example ?

--> In mutable data types can be modified(change) after creation such as lists , dictionaries etc
  In immutable data types cannot be modified after creation such as tuples , strings etc.

3. What are main difference between lists and tuples ?

  --> The main difference between lists and tuples in python are that lists are mutable and use a square brackets [ ] . while tuples are immutable and use parentheses ( )

4. Describe how dictoranies store data ?

-->Dictionaries store data as key-value pairs, where each keys is unique and maps to a specific value.

5. Why might you see a set instead a list in Python ?

-->We use a set instead of a list in python we need to store a collection of unique items and perform faster testing or remove duplicates.

6.What is a string in python and how it is different from a list ?

--> A string in Python is a sequences of character i.e is immutable , whereas list is a collection of items that can be modified.

7. How to tuples ensure data integrity in Python ?

--> Tuples ensure data integrity in Python by making it impossible to modify their contents after creation , which is useful for storing collections of items that should not be changeable .

8.What is hash table and how does it relate to dictionaries in Python ?

--> A hash table is a data structure that stores key-value pair using a hash function to map keys to indices , and dictionaries in Python are implemented as hash table.

9. Can lists contain different data types in python ?

==>yes , lists can contain different data types such as integers , strings and other lists .

10. Explain why strings are immutable in Python ?

-->Strings in python are immutable because they cannot be changed in place .

11. What advantages do dictonaries offer over list for a certain task ?

-->Dictionaries offers fast lookups with an average time complexity of O(1), store data as key-value pairs , and provide flexibility in data representation by allowing any immutable type as keys .

12.Describe a scenario where using a tuple would be preferable over a list ?

--> Tuples are preferable when representing a record or a constant collection of values that should not be changed , such as days of the week .

13.How do sets handle duplicate values in Python ?

-->Sets automatically eliminate duplicate values , ensuring that only unique elements are stored.

14. How does the "in" keywords work differently for lists and dictionaries ?

--> For lists , the "in" keywords checks if a value is present , while for dictionaries , it checks if a key is present.

15. Can you modify the elements of a tuple ? Explain why or why not ?

-->No , tuples are immutable by design , and attempting to modify a tuple elements will raise a TypeError.

16. What is nested dictionaries , and give an example of its use case ?

--> A nested dictionary is  a dictionary containing another dictionary as its value.It's useful for representing complex data structure .
    ex: Student's grade in different subjects .

17. Describe the time complexity of accessing elements in a dictionaries ?

--> The average  time complexity is O(1) and worst case time complexity is O(n). Where n is the number of keys in the dictionary .

18. In what situations are lists preferred over dictionaries?

--> Lists are best for sequential data , while dictionaries are data retervial for specific identifiers .

19. Why are dictionaries considered unordered and how does that affect data retrieval ?

-->Dictionaries are considered as an unordered collection of objects because in dictionary we can use any type of data type , but key is immutable type.

20. Explain the different between a list and a dictionary in terms of data retrieval ?

-->Lists retrieve data by index, whereas dictionaries retrieve data by key, providing faster lookups for key-based data retrieval.

**PRACTICAL PROGRAM**

1. Write a code to create a string with your name and print it .

In [204]:
name="zuleka Shaikh"
print(name)

zuleka Shaikh

2. Write a code to find the length of the string " Hello Wold".

In [205]:
string='hello world'
length=len(string)
print(length)

11

3.Write a code to slice the first 3 character from the string "Python Programming".

In [206]:
string='python program'
sliced_string=string[:3]
print(sliced_string)

pyt

4.Write a code to convert the string "hello " to uppercase.

In [207]:
string="hello "
uppercase_string=string.upper()
print(uppercase_string)

HELLO

5. Write a code to replace the word "apple " with "orange "in the string " I like apple ".

In [208]:
string='I like apples'
replaced_string=string.replace('apples','orange')
print(replaced_string)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it .

In [209]:
num=[1,2,3,4,5]
print(num)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1,2,3,4 ]

In [210]:
num.append(10)
print(num)

[1, 2, 3, 4, 5, 10]

8. Write a code to remove the number 3 from the list [1,2,3,4,5].

In [211]:
num.remove(3)
print(num)

[1, 2, 4, 5, 10]

9. Write a code to access the second element in the list ['a', 'b','c','d']

In [212]:
letters=['a','b','c','d']
second_letters= letters[1]
print(second_letters)

b

10. Write a code to reverse the list [10,20,30,40,50]

In [213]:
num=[10,20,30,40,50]
rev_num=num[::-1]
print(rev_num)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100,200,300 and print it .

In [214]:
num=(100,200,300)
print(num)

(100, 200, 300)

12. Write a code to access the second last elements of the tuple ['red', 'green,'blue', 'yellow']

In [215]:
colors=('red','green','blue','yellow')
second_last_element=colors[-2]
print(second_last_element)

blue

13.write a code to find the minimum number in the tuple (10, 20,5,15)

In [216]:
num=(10,20,5,15)
min_num=min(num)
print(min_num)

5

14. Write a code to find the index of the element 'cat' in the tuple ('dog','cat','rabbit')

In [217]:
animals=('dog','cat','rabbit')
cat_index=animals.index('cat')
print(cat_index)

1

15.Write a code to create a tuple containing three different fruits and check if 'kiwi' is in it

In [218]:
fruit=("apple","mango","kiwi","cherry")
print('kiwi' in fruit)

True

16. Write a code to create a set with the elements 'a','b','c' and print it .

In [219]:
my_set={'a','b','c'}
print(my_set)

{'c', 'a', 'b'}

17. Write a code to clear all elements from the set {1,2,3,4,5}

In [220]:
num={1,2,3,4,5}
num.clear()
print(num)

set()

18. Write a code to remove the element 4 from the set {1,2,3,4 }

In [221]:
num={1,2,3,4,5}
num.remove(4)
print(num)

{1, 2, 3, 5}

19. Write a code to find the union of two sets {1,2,3} and {3,4,5}.

In [222]:
set1={1,2,3}
set2={3,4,5}
union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1,2,3}and {2,3,4}.

In [223]:
set1={1,2,3}
set2={2,3,4}
intersection_set=set1.intersection(set2)
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city" , and print it .

In [224]:
person={'name':'zuleka','age':20,'city':'Hyderabad'}
print(person)

{'name': 'zuleka', 'age': 20, 'city': 'Hyderabad'}

22.Write a code to add a new key-value pair "country": USA to the dictioary {'name':'john','age':25}

In [225]:
person={'name':'john','age':25}
person['country']='USA'
print(person)

{'name': 'john', 'age': 25, 'country': 'USA'}

23.Write a code to access the value associated with the key 'name' in the dictionary {'name':'john','age':30}

In [226]:
person={'name':'Alice','age':30}
name=person['name']
print(name)

Alice

24.Write a code to remove the key "age" from the dictionary {'name':'bob','age':22,'city':'new york'}

In [227]:
person={'name':'Bob','age':22, 'city':'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

25.Write a code to check if the key "city" exists in the dictionary {'name':Alice', 'city':'paris'}

In [228]:
person={'name':'Alice','age':30, 'city':'Paris'}
city_present='city' in person
print(city_present)

True

26. Write a code to create a list ,tuple, and dictionary and pint them all.

In [229]:
my_list=[1,2,3,4,5]
my_tuple=(10,20,30)
my_dict={'name':'zuleka','age':20}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3, 4, 5]
(10, 20, 30)
{'name': 'zuleka', 'age': 20}

27. Write a code to create a list of 5 random numbers between 1 and 100 ,sort it in ascending order, and print the result.

In [230]:
import random
random_num=random.sample(range(1,101),5)
random_num.sort()
print(random_num)

[18, 41, 54, 62, 81]

28. create a list with strings and print the element at the third index.

In [231]:
string_list =["apple","banana","mango","cherry"]
print(string_list[2])

mango

29. combine two dictionaries into one and print the result .

In [232]:
dict1={"a":1,"b":2}
dict2={"c":3,"d":4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Convert a list of string into a set.

In [233]:
string_list=["apple","banana","cherry","mango"]
string_set=set(string_list)
print(string_set)

{'cherry', 'apple', 'banana', 'mango'}