#Python Basics#

# New Section

1. what is python, and why it is popular?

  --> python is a high level, interprted programming language known for its simplicity and readability.
     it is popular due to its versality ,extensive libraries , and used in various fields.

2. what is an interpreter in python ?
  
  ---> An interpreter in python is a program that reads and executes python code line by line.

3. what are pre-defined keywords in python ?
---> pre-defined keywords in python are reserved words that have a special meanings and cannot be used as a variable name.
example: if , else , for ,etc

4. can keywords be used as variable names?

   ---> NO, keywords cannot be used as variable name.

5. what is mutability in python?

   --->Mutability in python refers to the ability of an object to be modified after it is created.

6.why are lists are mutable ,but tuple are immutable ?

  --->Lists are mutable because they are designed to be modified after it is created .
   Tuples are immutable because its cannot be changed once's its created.

7. what is the difference between "==" and "is" operators in python ?

  ===> The "==" operator checks for equality in value.it compares the values of two objects and returns True if they are equal and false otherwise.
    The "is " operator checks for identity.its checks if two objects are the same object in memory( same memory address)

8. what are logical operators in python ?

  ---> Logical operators  are used to combine conditional statements and make decision based on multiple conditions. python has three logical operators (AND ,OR ,NOT operators)

9. what is type casting in python ?
---> Type casting in python is the process of converting one data type into another.

10. what is the difference between implicit and explicit type casting ?

===> Implicit type casting is done automatically by python , where as explicit type casting is done manually by the programmer using type casting functions.

11. what is the purpose of conditional statement in python?

 --->Conditional statement in python are used to make decissions based on certain condition. They allow the program to execute different blocks of code depending on  condition (true, false)

12. How does the elif statement work ?

  ---> The elif statement is used to check another condition if the intial condition is false. It allows for multiple conditions to be checked in sequences.

13. What is the difference between for and while loop ?

  ---> A For loop is used to iterate over a sequence (such as a list or string ), while a While loop is used to execute a block of code as long as a condition is true.

14. Describe a scenario where a While loop is more suitable than a for loop?

  ===> In a ludo game ,the game loop continues until one player reaches the final destiantion .we don't know in advance how many turns it will take for a player to win,

    In this case , a while loop is more suitable because it allows the game to continue until a certain condition is met (a player win)

In [31]:
print("Hello world")

Hello world

In [32]:
name="Zuleka"
age=22
print(f"name: {name}, age:{age}")

name: Zuleka, age:22

In [33]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [34]:
my_list=[1,2,3,4,5]
print("original list:" , my_list)

my_tuple=(1,2,3,4,5)
print("original tuple:" , my_tuple)

my_list[0]=20
print("modified list:" , my_list)

print("modified tuple:" , my_tuple)

original list: [1, 2, 3, 4, 5]
original tuple: (1, 2, 3, 4, 5)
modified list: [20, 2, 3, 4, 5]
modified tuple: (1, 2, 3, 4, 5)

In [35]:
my_list=[1,2,3,4]
print("\n original list :", my_list)

my_list.append(5)
print("modified list :", my_list)

my_tuple=(1,2,3,4)
print("\n original tuple :", my_tuple)

my_tuple=my_tuple + (5,)
print("modified tuple :", my_tuple)

 original list : [1, 2, 3, 4]
modified list : [1, 2, 3, 4, 5]

 original tuple : (1, 2, 3, 4)
modified tuple : (1, 2, 3, 4, 5)

In [44]:
num1=float(input("enter first number:"))
num2=float(input("enter second number:"))

print("\nArithematic operations:")
sum=num1+num2
print("sum:", sum)

sub=num1-num2
print("sub:", sub)

mul=num1*num2
print("mul:", mul)

div=num1/num2
print("div:", div)

enter first number:34
enter second number:12

Arithematic operations:
sum: 46.0
sub: 22.0
mul: 408.0
div: 2.8333333333333335

In [45]:
x=6
y=7
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
False
True
False
True

In [46]:
a="321"
print(type(a) )
a=int(a)
print(type(a))
a=float(a)
print(type(a))

<class 'str'>
<class 'int'>
<class 'float'>

In [48]:
a=["1","2","3","4"]
print("\n original list",a)
a=[int(x)]
print("\n integer list",a)
a=[float(x)]
print("\n float list",a)
a=[str(x)]
print("\n string list",a)

 original list ['1', '2', '3', '4']

 integer list [6]

 float list [6.0]

 string list ['6']

In [38]:
num=int(input("enter a number:"))
if num >0 :
  print("number is positive")
elif num==0:
  print("number is zero")
else:
  print("number is negative ")

enter a number:6
number is positive

In [39]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [40]:
sum_even=sum(i for i in range(1,51) if i%2 ==0 )
print("sum of even numbers:", sum_even)

sum of even numbers: 650

In [64]:
my_string="hello world"
reversed_string=""
print("original string:", my_string)
i=len(my_string)-1

while i>=0:
  reversed_string+=my_string[i]
  i-=1
print("reversed string:", reversed_string)

original string: hello world
reversed string: dlrow olleh

In [57]:
num=int(input("enter the number"))
fact=1
i=1
while i <= num:
    fact *=i
    i=i+1
print("the factorial of",num,"is",fact)

enter the number5
the factorial of 5 is 120